APP_ENV=development

FRONTOFFICE_COOKIE_VALIDATION_KEY=...
BACKOFFICE_COOKIE_VALIDATION_KEY=...

FRONTOFFICE_PORT=8000
BACKOFFICE_PORT=8001
API_PORT=8002

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cinelis
DB_USER=postgres
DB_PASSWORD=postgres